<%- include('../partials/header') %>

<h3><%= skill.skill %></h3>
<h3>Complete: <%= skill.progress ? 'Yes' : 'No' %></h3>
<!-- <a href="/skills/<%= skill.id%>/edit>">Skills in Progress</a> -->

<%- include('../partials/footer') %>
